.profile-container{
    width: 100% ;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.profile-container header {
    display: flex;
    align-items: center;
}

.profile-container header span{
    font-size: 30px;
    margin-left: 24px;
    font-weight: 700;
}

.profile-container header img {
    height: 64px;
}

.profile-container .profile-cadastro{
    width: 100% ;
    margin: 44px auto;
    display: flex;
    align-items: center;
}

.profile-container .profile-cadastro input{
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-right: 14px;
}

.profile-container .profile-cadastro a {
    width: 150px;
    margin-top: 0;
}

.profile-container header .button{
    width: 60px;
    
}

.profile-container header button{
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    transition: border-color 0.2s;
    margin-left: auto;
    margin-top: 0;
}

.profile-container header button:hover{
    border-color: #999;
}

.profile-container h1{
    margin-top: 70px;
    margin-bottom: 24px;
}

/* lista de placas cadastradas*/
.profile-container ul{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    list-style: none;
}

.profile-container ul li{
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.profile-container ul li button{
    position: absolute;
    right: 50px;
    top: 20px;
    border: 0;
    background: transparent;
}

.profile-container ul li button:hover{
    opacity:0.8 ;
}

.profile-container ul li strong{
    display: block;
    margin-bottom: 16px;
}

.profile-container ul li p{
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}